In [1]:
import os
import pandas as pd

In [6]:
# init Citi Bike df
citi_bike_df = pd.DataFrame()

# Loop through all subfolders
for subdir, dirs, files in os.walk(r"C:\Users\14259\Desktop\SMU Folder\Homework (GitHub)\smu_hw-sept-2023\18-Tableau\Tableau Data"):
    for file in files:
        filepath = os.path.join(subdir, file)
        
        # Check if CSV data file
        if filepath.endswith(".csv"):
            # Make sample DataFrame
            df = pd.read_csv(filepath, low_memory=False)
            df = df.sample(frac=0.01, random_state=42)
            citi_bike_df = pd.concat([main_df, df], ignore_index=True)
            print(filepath)

# Reset the index of the main DataFrame
citi_bike_df = main_df.reset_index(drop=True)

C:\Users\14259\Desktop\SMU Folder\Homework (GitHub)\smu_hw-sept-2023\18-Tableau\Tableau Data\2023.11_citibike_tripdata.csv
C:\Users\14259\Desktop\SMU Folder\Homework (GitHub)\smu_hw-sept-2023\18-Tableau\Tableau Data\2023.12_citibike_tripdata.csv
C:\Users\14259\Desktop\SMU Folder\Homework (GitHub)\smu_hw-sept-2023\18-Tableau\Tableau Data\2024.01_citibike_tripdata.csv

In [7]:
citi_bike_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [9]:
citi_bike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,559A6B1E52A10667,classic_bike,2023-11-12 13:57:50,2023-11-12 14:13:16,Journal Square,JC103,Newport PATH,JC066,40.733844,-74.062389,40.727224,-74.033759,member
1,B0538D3F049F8DD0,classic_bike,2023-11-20 08:39:13,2023-11-20 09:14:58,Brunswick St,JC023,Grove St PATH,JC115,40.724176,-74.050656,40.719410,-74.043090,member
2,47E987DFF346B097,classic_bike,2023-11-03 16:01:09,2023-11-03 16:08:50,Hoboken Ave at Monmouth St,JC105,Warren St,JC006,40.735271,-74.046921,40.721124,-74.038051,member
3,ECCBB0827F8C86EF,classic_bike,2023-11-17 16:31:42,2023-11-17 16:35:31,Dixon Mills,JC076,Grove St PATH,JC115,40.721630,-74.049968,40.719410,-74.043090,member
4,9A72C7FD7C0BB896,classic_bike,2023-11-06 21:39:54,2023-11-06 21:44:42,11 St & Washington St,HB502,7 St & Monroe St,HB304,40.749998,-74.027499,40.746413,-74.037977,casual

In [11]:
citi_bike_df["started_at"] = pd.to_datetime(citi_bike_df.started_at)
citi_bike_df["ended_at"] = pd.to_datetime(citi_bike_df.ended_at)

citi_bike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,559A6B1E52A10667,classic_bike,2023-11-12 13:57:50,2023-11-12 14:13:16,Journal Square,JC103,Newport PATH,JC066,40.733844,-74.062389,40.727224,-74.033759,member
1,B0538D3F049F8DD0,classic_bike,2023-11-20 08:39:13,2023-11-20 09:14:58,Brunswick St,JC023,Grove St PATH,JC115,40.724176,-74.050656,40.719410,-74.043090,member
2,47E987DFF346B097,classic_bike,2023-11-03 16:01:09,2023-11-03 16:08:50,Hoboken Ave at Monmouth St,JC105,Warren St,JC006,40.735271,-74.046921,40.721124,-74.038051,member
3,ECCBB0827F8C86EF,classic_bike,2023-11-17 16:31:42,2023-11-17 16:35:31,Dixon Mills,JC076,Grove St PATH,JC115,40.721630,-74.049968,40.719410,-74.043090,member
4,9A72C7FD7C0BB896,classic_bike,2023-11-06 21:39:54,2023-11-06 21:44:42,11 St & Washington St,HB502,7 St & Monroe St,HB304,40.749998,-74.027499,40.746413,-74.037977,casual

In [12]:
citi_bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1850 entries, 0 to 1849
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             1850 non-null   object
 1   rideable_type       1850 non-null   object
 2   started_at          1850 non-null   datetime64[ns]
 3   ended_at            1850 non-null   datetime64[ns]
 4   start_station_name  1850 non-null   object
 5   start_station_id    1850 non-null   object
 6   end_station_name    1842 non-null   object
 7   end_station_id      1842 non-null   object
 8   start_lat           1850 non-null   float64
 9   start_lng           1850 non-null   float64
 10  end_lat             1850 non-null   float64
 11  end_lng             1850 non-null   float64
 12  member_casual       1850 non-null   object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 188.0+ KB

In [13]:
citi_bike_df.rideable_type.value_counts()

rideable_type
classic_bike     1462
electric_bike     388
Name: count, dtype: int64

In [14]:
main_df.to_csv("citibike_sample.csv", index=False)